* {
  font-size: 13px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
  background-image: linear-gradient(rgb(67, 25, 252), rgb(21, 12, 63));
}
/* background-image: linear-gradient(rgb(98, 98, 184), rgb(30, 30, 58)) 
lightest: rgb(234, 231, 238)
daybar: rgb(50, 28, 146)
darkest: rgb(34, 20, 94)
*/

.header {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  margin-top: 30prgb(30, 30, 58)x;
  margin-bottom: 30px;
  border-style: ridge;
  border-color: rgb(35, 17, 116);
  border-radius: 25px;
  padding: 50px;
  text-align: center;
  background: grey;
  color:rgb(35, 17, 116);
}
h1{
  font-size: 30px;
}
h2 {
  font-size: 15px;
}
h3 {
  font-size: 14px;
  text-align: left;
}
#expanded {
  position: fixed; 
  width: 80%; 
  height: 60%;
  top: 20%; 
  padding: 30px;
  background-color: rgb(30, 30, 58);
  text-align: left;
  color: rgb(67, 25, 252);
  border: solid 1px black;
  border-radius: 25px;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 99;
}

#close {
  position: fixed;
  top:25%;
  left:90%;

}

#day-bar {
  padding: 20px;
  align-content: center;
  color: grey;
  background-color: rgb(41, 19, 139);
  height:250px;
  width: 100%;

}
.day {
  width: 110px;
  height: 100px; 
  margin-left: 2%;
  /* margin: 5px;  */
  float:left;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border: solid 4px grey;
  border-radius: 25px;
  color: grey;

}
#task-form{
  float:left;
  text-align: left;
  min-width: 400px;
  border-radius: 25px;
  color: black;
  margin-top: 3%;
  margin-left: 10%;
  margin-bottom: 100px;
  padding: 10px;
  background: rgb(67, 25, 252);
}
.drop-down{
  width: 300px;
}

#search-by{
  padding-left: 10px;
}
#all-search{
  text-align: right;
}


.btns{
  text-align: center;
  padding: 2px;
}

.text{
  width:50px;
}
.button{
  padding: 3px;
  margin: 10px;
}
#confirm-card{
  border: solid 1px rgb(32, 5, 32);
  background-color: rgb(119, 100, 119);
  box-shadow: 50px, 100px, rgb(30, 30, 58);
  border-radius: 25px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#confirm-table{
  text-align: left;
  width: 100%;
  padding:5px;
}
.right{
  text-align: center;
  background-color: white;
}

#column-a{
  float: left;
  width: 100px;
  margin-left: 20px;
}
#column-b{
  float:left;
  width: 150px;
  margin-left: 40px;
}
#form-end{
  clear: both;
}
.hide{
  display:none
}
.text-input{
  width: 150px;
}

#day-card{
  float: right;
  left: 60%;
  top:40px;
  height:fit-content;
  width: 25%;
  border-radius: 25px;
  color: black;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  padding: 20px;
  background: rgb(67, 25, 252);
}

#today-details {
  text-align: left;
}

footer{
  height: 100px;
  margin-top: 10px;
  float:none
}