* {
  font-size: 13px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
  background-image: linear-gradient(rgb(98, 98, 184), rgb(30, 30, 58))
}

.header {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30prgb(30, 30, 58)x;
  margin-bottom: 30px;
  border-radius: 25px;
  padding: 50px;
  text-align: center;
  background: rgb(98, 98, 184);
  color:black;
}
h1{
  font-size: 30px;
}
h2 {
  font-size: 15px;
}
h3 {
  font-size: 14px;
  text-align: left;
}
#expanded {
  position: fixed; 
  width: 80%; 
  height: 60%;
  top: 20%; 
  padding: 10px;
  background-color: rgb(30, 30, 58);
  text-align: center;
  color: rgb(132, 132, 248);
  border: solid 1px black;
  border-radius: 25px;
  margin-left: 10%;
  margin-right: 10%;
}

#close {
  position: fixed;
  top:25%;
  left: 85%;

}

#day-bar {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 4.5%;
  padding-right: 4.5%;
  color: rgb(30, 30, 58);
  background-color: rgb(132, 132, 248);
  height: 200px;
  width: 100%;
  margin: 0;

}
.day {
  width: 12%;
  height: 150px; 
  margin: .5%; 
  float:left;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border: solid 1px rgb(30, 30, 58);
  border-radius: 25px;
  color: rgb(30, 30, 58);

}
#task-form{
  display: inline-block;
  text-align: left;
  width: 50%;
  border-radius: 25px;
  color: rgb(32, 5, 32);
  margin-top: 3%;
  margin-left: 5%;
  padding: 20px;
  background: rgb(98, 98, 184);
}
.btns{
  display: inline-block;
  text-align: center;
  padding: 2px;
}


.drop-down {
  width: 200px;
}

.text{
  width:50px;
}
.button{
  padding: 3px;
  margin: 10px;
}
#confirm-card{
  border: solid 1px rgb(32, 5, 32);
  background-color: rgb(119, 100, 119);
  box-shadow: 50px, 100px, rgb(30, 30, 58);
  border-radius: 25px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#confirm-table{
  text-align: left;
  width: 100%;
  padding:5px;
}
.right{
  text-align: center;
  background-color: white;
}

#column-a{
  float: right;
  width: 40%;
}
#column-b{
  float: left; 
  width: 60%;
}
#form-end{
  clear: both;
}
.hide{
  display:none
}
.text-input{
  width: 100px;
}



#day-card{
  float: right;
  height: 200px;
  width: 20%;
  border-radius: 25px;
  color: rgb(71, 68, 71);
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  padding: 20px;
  background: rgb(98, 98, 184);
}

footer{
  height: 100px;
  margin-top: 10px;
  float:none
}